.imageContainer {
  display: flex;
  justify-content: center;
}

.aboutme {
  background-color: #ebebeb;
  color: #333;

  margin-bottom: 20px;
}

.aboutme .content {
  background-color: #ebebeb;
}

.aboutme h2 {
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
  margin-bottom: 20px;
}

.aboutme p {
  margin-bottom: 20px;
  text-align: left;
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: 20px;
  font: bold;
  font-style: oblique;
}

.skills {
  display: flex;
  margin-top: 30px;
  margin-left: 380px;
  margin-bottom: 20px;
}
.skills h2 {
  text-align: center;
  color: rgb(100, 95, 88);
}
.skills ul {
  background-color: #373737;
  /* background-color: #008080; */
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 30px;
  color: white;
  width: 700px;
  height: 300px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}

.prog-lang {
  color: rgb(182, 255, 222);
  font-size: 28px;
  font: bold;
  margin-bottom: 20px;
}

.img-skills {
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.java {
  margin-right: 20px;
  color: aqua;
  font-size: 28px;
  font: bold;
}

.cpp {
  margin-right: 20px;
  margin-left: 20px;
  color: blueviolet;
  font-size: 28px;
  font: bold;
}
.csh {
  margin-left: 20px;
  color: cadetblue;
  font-size: 28px;
  font: bold;
}

.html {
  margin-right: 20px;
  color: rgb(255, 0, 0);
  font-size: 28px;
  font: bold;
}

.css {
  margin-right: 20px;
  color: rgb(139, 253, 209);
  font-size: 28px;
  font: bold;
}

.php {
  margin-right: 20px;
  color: rgb(154, 192, 244);
  font-size: 28px;
  font: bold;
}

.javascript {
  margin-right: 20px;
  color: rgb(226, 240, 78);
  font-size: 28px;
  font: bold;
}

.mysql {
  margin-right: 20px;
  color: rgb(223, 159, 9);
  font-size: 28px;
  font: bold;
}

.mongodb {
  margin-right: 20px;
  color: rgb(0, 255, 183);
  font-size: 28px;
  font: bold;
}

.cassandra {
  margin-right: 20px;
  color: rgb(40, 196, 213);
  font-size: 28px;
  font: bold;
}

.sqlserver {
  margin-right: 20px;
  color: rgb(213, 114, 114);
  font-size: 28px;
  font: bold;
}
