.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282626;
  color: white;
  padding: 20px;
  text-align: center;
  /* position: fixed; */
}

.social-media-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media-footer a {
  color: white;
  text-decoration: none;
  padding: 8px;
  padding-left: 0%;
}

.social-media-footer a:hover {
  transform: scale(1.5);
}
