.formation {
  height: 500px;

  padding: 20px;
  text-align: center;
}

.form1 ul {
  /* background-color: #b0a3a3; */
  background-color: #373737;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  width: 600px;
  margin-bottom: 20px;
}
.form1 {
  display: flex;
  margin-left: 20px;
}

.form2 ul {
  /* background-color: #b0a3a3; */
  background-color: #373737;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  width: 600px;
  margin-bottom: 20px;
}

.form2 {
  margin-left: 20px;
}

.form3 ul {
  background-color: #373737;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  width: 600px;
  margin-bottom: 20px;
}
.form3 {
  margin-left: 20px;
}
.formation h2 {
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

.form1 .form2 .form3 li {
  margin-bottom: 20px;
}

.formation #form_section {
  background-color: #ebebeb;
}

.formation .location img {
  display: flex;
  width: 50px;
  height: 50px;
}

.img-formation {
  display: flex;
  align-self: flex-start;
  box-shadow: 0 2px 0px 0px var(--white);
  width: 90px;
  height: 90px;
  border-radius: 20%;
}

.img-formation:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.flex-container {
  display: flex;
  align-items: center;
}

.formation-content {
  flex-grow: 1;
  margin-left: 20px;
}
