.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282626;
  padding: 20px;
  color: white;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-right: 80px;
  font-family: "Poppins Light";
}

.header-list li {
  cursor: pointer;
  font-weight: bold;
}

.header-list .nom {
  font-weight: bold;
  font-size: 25px;
}

.header-list li a {
  color: white;
  text-decoration: none;
}

.nom {
  font-weight: bold;
  font-size: 25px;
  font-family: "Poppins Light";
  margin-left: 150px;
}
