.projects {
  padding: 20px;
  text-align: center;
}

.projects h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin: 0 10px 0 10px;
  text-align: center;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects li {
  margin-bottom: 20px;
}

.projects h2 {
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

.projects p {
  margin-bottom: 10px;
}

.projects :hover {
  transform: scale(1.03);
  transition: 1s ease-out;
}

.projets-12 {
  display: flex;
  margin-top: 50px;
}

.projet1 ul {
  background-color: #d5baba;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin-left: 280px;
  color: rgb(0, 0, 0);
  width: 400px;
  margin-bottom: 20px;
  margin-right: 80px;
  display: block;
  font-weight: bold;
}

.projet2 ul {
  background-color: #d5baba;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  width: 400px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}

.img-projet1 {
  justify-content: center;
  /* box-shadow: 0 1px 0px 0px var(--white); */
  width: 50px;
  height: 50px;
  color: white;
}

.btnseemore1 {
  display: inline-block;
  border-radius: 30px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  background-color: rgb(255, 150, 150);
}

.btnseemore1:active {
  transform: translateY(2px);
}

.btnseemore1:hover {
  color: #05fed8;
  border: 2px solid #ff1e1e;
  background-color: rgb(159, 155, 139);
}

.proj1 {
  font-size: 30px;
  font: bold;
  color: rgb(205, 166, 119);
  text-align: center;
  margin-bottom: 30px;
}

.secondproj li {
  margin-bottom: 100px;
}

.year {
  font-size: 26px;
  font: bold;
  color: rgb(206, 147, 91);
}

li {
  list-style: none;
}

.secondproj p {
  margin-bottom: 20px;
  text-align: left;
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: 20px;
  font: bold;
  font-style: oblique;
}

.buttonRapport {
  display: inline-block;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  margin-left: 700px;
}

.buttonRapport:active {
  transform: translateY(2px);
}

.buttonRapport:hover {
  color: #838383;
  border: 2px solid #ff8c33;
  background-color: rgb(171, 170, 167);
}
